<div class="title">
    <app-goback></app-goback> 
    <h2>Portfolio</h2>
</div>
<div class="container">
  <ul class="image-gallery">
      <li>
        <img src="https://user-images.githubusercontent.com/92182943/263593007-20b3d9f1-9800-4e95-96f9-96aae9fde1fd.png" alt="" />
        <div class="overlay"><span>BASF Frontend Internship Project (React Study)</span></div>
      </li>
    <li>
      <img src="https://user-images.githubusercontent.com/92182943/267867616-1ea8fb68-ff7f-481c-a909-dcf0d4250560.png" alt="" />
      <div class="overlay"><span>Youtube Shorts Summarizer (Artificial Inteligence Study)</span></div>
    </li>
    <li>
      <img src="https://user-images.githubusercontent.com/92182943/169911584-a40d4cac-f785-46ff-b925-65e1dc2bfbb9.png" alt="" />
      <div class="overlay"><span>Cappio's MIDI</span></div>
    </li>
    <li>
      <img src="https://user-images.githubusercontent.com/92182943/169912031-7323502e-3926-469d-b03e-281b99ea06cb.png" alt="" />
      <div class="overlay"><span>Doguito Form</span></div>
    </li>
    <li>
      <img src="https://user-images.githubusercontent.com/92182943/169912820-b06debc4-b112-450e-90e6-bf2ee0838c97.png" alt="" />
      <div class="overlay"><span>Flexbox Study Alurinha</span></div>
    </li>
    <li>
      <img src="https://user-images.githubusercontent.com/92182943/169913209-8ed01b1f-b316-417e-8ce3-f3b2ba93053d.png" alt="" />
      <div class="overlay"><span>HTMK/CSS Study Alura</span></div>
    </li>
  </ul>
</div>