<div class="title">
    <app-goback></app-goback> 
    <h2>About Marvel Snap</h2>
</div>
<div class="content">
    <p>Marvel Snap is a digital collectible card game developed by Second Dinner and published by Nuverse for Android, iOS, macOS, and Windows. The game features a collection of different characters from the Marvel Universe. The game was released on October 18, 2022, after a period of beta testing.
        <br />
        <br />
        Players each have a deck of 12 cards. Each card depicts a Marvel character with cost, power level, and potentially a special ability. At the start of each round, players simultaneously put one card or more face down on one of three locations. Locations are randomly assigned for each match, and each location has a unique effect. At the end of each round cards are revealed and special abilities of cards trigger. Whoever has the highest power at a given location wins that location. The goal of the game is to win two out of the three locations. The game usually lasts six rounds, each of them giving an increasing "energy" to play more powerful cards.
        <br />
        Players climb the game's ranked ladder by earning "cubes". A game begins with a single cube as its stakes, but a player may double the stakes at any time by "snapping", at which point their opponent has the option of retreating or acceding to the snap. Designer Kent-Erik Hagman compared the mechanic to the doubling cube of the traditional boardgame Backgammon.
        <br />
        The gameplay of Marvel Snap is considered relatively simple compared to other collectible card games, and individual games typically last a few minutes.
        <br />
        <br />
        At the time of the global release the game featured over 170 characters, with the number increasing weekly.</p>
        <br />
        <p>For more info head over to: <a href="https://wikipedia.org/wiki/Marvel_Snap" target="_blank" rel="noopener noreferrer">https://wikipedia.org/wiki/Marvel_Snap</a></p>
</div>