<div class="title">
    <app-goback></app-goback> 
    <h2>Card Checker</h2>
</div>
<div class="container">
    <div class="content">
        <div class="card">
            <div class="card-content">
                <div class="card-img-background">
                    <img src="../../../assets/2.webp" alt="">
                </div>
                <div class="card-text">
                    <h3>nome do personagem</h3>
                    <p class="card-hability">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem autem, alias aspernatur labore ad saepe.</p>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="character-info">
                <p>Name: Test</p>
                <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tenetur perferendis reiciendis, dolorem libero, dolorum, asperiores ex sit ut unde quam exercitationem earum consectetur modi!</p>
                <p>Comics: 777</p>
                <p>Stories: 777</p>
                <p>Events: 777</p>
                <p>Series: 777</p>
            </div>
            <button (click)="getRandomCard()">Generate Card</button>
        </div>
    </div>
</div>