<div class="title">
    <app-goback></app-goback> 
    <h2>Card Checker</h2>
</div>
<div class="container">
    <div class="content">
        <div class="card">
            <div class="card-content">
                <div class="card-img-background">
                    <img *ngIf="randomCard?.imageUrl" [src]="randomCard?.imageUrl" alt="Random Card">
                </div>
                <div class="card-text">
                    <h3>{{ randomCard?.name }}</h3>
                    <p class="card-hability">{{ randomCard?.ability }}</p>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="character-info">
                <p>Name: {{ marvelCharacter?.name }}</p>
                <p>Description: {{ marvelCharacter?.description }}</p>
                <p>Comics: {{ marvelCharacter?.comics?.available }}</p>
                <p>Stories: {{ marvelCharacter?.stories?.available }}</p>
                <p>Events: {{ marvelCharacter?.events?.available }}</p>
                <p>Series: {{ marvelCharacter?.series?.available }}</p>
            </div>
            <button (click)="getRandomCard()">Generate Card</button>
        </div>
    </div>
</div>
