:host {
    font-family: 'Marvel';
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 130px);
    background-color: #212121;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.69);
    overflow: auto;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
    color: whitesmoke;
}

h2 {
    font-size: 75px;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    padding: 24px 0 12px 12px;
}

.container {
    margin: 50px;
    background-color: #363636;
}

.content {
    height: 590px;
    width: 100%;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 590px;
    width: 550px;
    max-width: 550px;
}

.card-content {
    background-color: #787878f1;
    height: 568px;
}
.card-img-background {
    background-color: #c2c2c2f1;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 450px;
    height: 453px;
}

.card-text {
    text-align: start;
    margin: 0 10px 0 10px;
}

h3 {
    font-size: 35px;
    font-weight: bold;
}

.card-hability {
    font-size: 15px;
    padding: 10px 0 20px 0;
}

.info {
    display: flex;
    flex-direction: column;
    height: 568px;
    width: 550px;
    max-width: 550px;
    justify-content: space-between;
}

.character-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    height: 453px;
    max-height: 453px;
    padding: 10px 10px 0 10px;
    gap: 10px;
    font-size: 25px;
    background-color: #515151;
}

button {
    height: 65px;
    width: 550px;
    background: linear-gradient(337deg, rgba(2,0,36,1) 0%, rgba(170,20,193,1) 35%, rgba(119,0,255,1) 100%);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 20px;
    padding: 0 16px 0 16px;
    cursor: pointer;
}