<nav>
    <ul>

        <li>
            <a href="https://www.basf.com/br/pt.html" target="_blank" rel="noreferrer">
                <img src="../../../assets/BASF-Logo_bw.svg.png" alt="BASF Logo">
            </a>
        </li>

        <li>
            <p>BASF Internship Project by Bruno Cappio</p>
        </li>

        <li>
            <a href="https://developer.marvel.com/" target="_blank" rel="noreferrer">
                <img src="../../../assets/marvel-logo-4.png" alt="">
            </a>
        </li>

    </ul>
</nav>