@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "primeicons/primeicons.css";

body {
    background: rgb(2,0,36);
    background: linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(170,20,193,1) 35%, rgba(119,0,255,1) 100%);
    margin: 12px;
}