@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "primeicons/primeicons.css";

html {
    height: 100%;
}

body {
    margin: 24px;
    background: linear-gradient(151deg, #020024, #aa14c1, #7700ff, #a659ff, #d852df);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 37s ease infinite;
    -moz-animation: AnimationName 37s ease infinite;
    -o-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}
@keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}